/* remove default margin and padding from body */

body {
    padding: 0;
    margin: 0;
}

#map {
    height: 75vh;
    padding: 20px
}

body,
html {
    height: 100%;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

.leaflet-popup-content {
    text-align: center;
}


/* CSS from the Leaflet-Choropleth documentation */

.legend {
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #555;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
    padding: 0;
    margin: 0;
    clear: both;
    list-style-type: none;
}

.legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
}

.legend .min {
    float: left;
    padding-bottom: 5px;
}

.legend .max {
    float: right;
}